.about
  padding-top: 6.5rem
  padding-bottom: 8.93rem
  &__title
    letter-spacing: 3px
    margin-bottom: 1.2rem
  &__subtitle
    letter-spacing: 1.9px
    margin-bottom: 3.95rem
  &__content
    &__title
      color: #000000
      font-family: "OpenSans-Bold"
      font-size: $aboutContTitSz
      line-height: 1.3rem
      text-transform: uppercase
      letter-spacing: 1.4px
      margin: auto
      margin-bottom: -$aboutContTitSz
    &__description
      width: 50%
      padding-top: $aboutContTitSz + 2.4rem
      padding-right: 2.4rem
      &__text
        color: #000000
        font-family: "OpenSans-SemiBold"
        font-size: 0.9rem
        line-height: 1.3rem
        letter-spacing: 0.9px
        margin: auto
        margin-bottom: 2.7rem
        &--long-text
          display: none
      &__button
        width: 166px
        height: 38px
        border-radius: 38px
        font-family: "OpenSans-Bold"
        font-size: 0.86rem
        text-transform: uppercase
        letter-spacing: 0.84px
        transition: all 0.1s
        &:hover
          box-shadow: 0px 0px 5px 0px #ffba00
        &:active
          font-size: 0.84rem
    &__image
      width: 50%
      max-width: 501px
      max-height: 290px
      img
        width: 501px
        max-width: 100%

@media screen and ( max-width: 767px )
  .about
    &__subtitle
      margin-bottom: 3.4rem
    &__content
      flex-direction: column
      align-items: center
      &__description
        min-width: 300px
        width: 60%
        max-width: 90%
        text-align: center
        padding-top: 1.7rem
        padding-right: 0
        &__text
          margin-bottom: 1.7rem
      &__image
        min-width: 270px
        order: -1
      &__title
        text-align: center
        margin-bottom: 1.7rem
  


