.projects
  box-shadow: 7px -8px 155px rgba(0, 0, 0, 0.29)
  padding-top: 6.4rem
  padding-bottom: 9rem

@media screen and ( max-width: 767px )
  .projects
    .swiper
      &-container-s2
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.56)
        max-width: 300px
        margin: auto
      &-slide
        max-width: 100%
        max-height: 188px
        img
          max-width: 100%
          max-height: 188px
      &-pagination
        position: inherit
        margin-top: 15px
        &-bullet
          margin-right: 3px
          width: 12px
          height: 12px
          &-active
            background: #000
            opacity: 0.7
    .card
      &__title
        font-size: 1.8rem
      &__description
        font-size: 1.1rem
      &__button
        width: 166px
        height: 38px
        border-radius: 38px
        font-size: 0.86rem

@media screen and ( min-width: 768px )
  .projects
    &-container
      max-width: 976px
    &__content
      width: 976px
      max-width: 100%
      flex-wrap: wrap
      align-content: space-between
      justify-content: space-between
      &__card
        position: relative
        max-width: 309px
        max-height: 194px
        margin-bottom: 25px

@media screen and ( min-width: 768px ) and ( max-width: 991px )
  .projects
    &__content
      height: auto   
      max-width: 643px
      margin: auto  

@media screen and ( min-width: 768px )
  .projects
    &__content
      &__card
        &:hover
          .card--hover
            display: flex